* {
    margin: 0;
    padding: 0;

}
.div1{
    margin-left: 43%;
    margin-top: 10%;
    box-shadow: 0 0 1em black;
}
button{
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    width: 150px;
    height: 30px;
}
.card-body{
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;

}